<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
    <form action="/" method="post">
        <input autocomplete="off" autofocus name="URL" placeholder="Youtube URL" type="text">
        <button type="submit">Submit</button>
    </form>
    <p>{{ message }}</p>

    {% if image_path %}
        <img src="{{ url_for('serveImage', filename='thumbnail.png') }}" alt="Thumbnail">
    {% endif %}

    {% if summary %}
        <h2>Summary</h2>
        <p>{{ summary }}</p>
    {% endif %}
{% endblock %}

